
# ide files
.idea
*.iml

# confid files
config/*.yml
config/capsize_config.rb

# mac files
*~
.DS_Store
*.tmproj

# rails3 default
.bundle
db/*.sqlite3
log/*.log
tmp/

#capfiles
capsize_projects

#mysqldump files
*.sql

#coverage
coverage/
.simplecov

#capfile
Capfile
