<fieldset class="fieldset">
  <legend>Introduction and help</legend>
  <div style="float: right; padding: 10px 5px 5px 5px;">
  </div>
  <div style="padding-top: 5px;">
   Welcome to Capsize. Your first steps should be to create a project with a stage.
   This stage can then be deployed once you made at least one host known to Capsize.
   <br /><br />
   For help and more documentation, see
   <br />
   <ul>
   </ul>
   <br />
   Capsize is Open Source. Paid support is available by <a href="http://www.peritor.com">Peritor Consulting</a>.
  </div>
</fieldset>

<br />

<fieldset class="fieldset">
  <legend>Recent deployments</legend>
  <% if @deployments.empty? %>
    <br/>
      No recent deployments.
    <br/>
  <% else %>
    <% @deployments.each do |deployment| %>
      <%= render(:partial => 'deployments/list_item', :locals => {:deployment => deployment}) %>
    <% end %>
  <% end %>
</fieldset>

<br />

<% content_for(:page_title) do %>
  <% @page_title = "Welcome to Capsize" %>
  <h2>Welcome to Capsize</h2>
<% end %>
